<h1 class="text-center text-muted my-5"> Edit an Article </h1>

<%= render 'form'%>

<div class="container text-center">
    <%= link_to '[Cancel and Return to Article]', article_path(@article), class:"text-info" %> 
</div>
