<h1 class="text-center text-muted my-5"> Create a new Article </h1>

<%= render 'form'%>

<div class="container text-center">
    <%= link_to '[Cancel and Return Home]', articles_path, class:"text-info" %> 
</div>
