<div class="container col-12">
    <div id="page-content">
        <h1 class="text-center mt=4"> Bloggers </h1>

        <div class="apple_pagination">
            <%= will_paginate @users, :container => false %>
        </div>
        
      <%= render 'users'%>
    </div>
</div>
