 <%if @article.errors.any?%>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                <span aria-hidden="true"> &times;</span>
        </button>
        <h4 class="alert-heading"> The following errors prevent us from saving the article: </h4>
        <ul>
            <% @article.errors.full_messages.each do |error|%>
            <li> <%= error%> </li>
        <% end %>
        
    </div>
<% end %>
